body {
  font-family: "Poppins", sans-serif;
  color: #fff;
  background: #1C1B21;
}

.player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 27px;
}

.player__play-button {
  cursor: pointer;
  border: 15px solid transparent;
  border-left: 22px solid #fff;
}

.player__range-bar {
  position: relative;
  width: 80%;
  height: 2px;
  background-color: #fff;
}

.player__range-bar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 2px;
  background-color: #7A66CC;
}

.player__range-bar::before {
  content: "";
  position: absolute;
  top: -9px;
  width: 2px;
  height: 20px;
  background-color: #7A66CC;
}

.player__timer {
  font-size: 18px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.header {
  min-height: 100vh;
  background-image: url("../images/header-bg.jpg");
  background-size: cover;
  background-position: center;
}

.header-wrapper {
  width: 1110px;
  margin: 0 auto;
}

.header-wrapper .top-navigation {
  padding: 30px 95px 0 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 65px;
}

.header-wrapper .top-navigation .line-wrapper {
  display: none;
  z-index: 100;
  position: absolute;
  top: 20px;
  right: 15px;
  width: 50px;
  height: 50px;
}

.header-wrapper .top-navigation .line-wrapper .line::before,
.header-wrapper .top-navigation .line-wrapper .line::after,
.header-wrapper .top-navigation .line-wrapper .line {
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #ad98ff;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.header-wrapper .top-navigation .line-wrapper .line {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.header-wrapper .top-navigation .line-wrapper .line::before {
  content: "";
  top: -8px;
}

.header-wrapper .top-navigation .line-wrapper .line::after {
  content: "";
  top: 8px;
}

.header-wrapper .top-navigation .line-active .line {
  background-color: transparent;
}

.header-wrapper .top-navigation .line-active .line::after {
  top: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.header-wrapper .top-navigation .line-active .line::before {
  top: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.header-wrapper .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px;
}

.header-wrapper .logo-img {
  width: 60px;
  height: 60px;
}

.header-wrapper .logo-text {
  position: relative;
  top: 6px;
  width: 143px;
  height: 42px;
}

.header-wrapper .nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 56px;
}

.header-wrapper .nav ul a {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  -webkit-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}

.header-wrapper .nav ul a:hover {
  color: #7A66CC;
}

.header-wrapper .nav-burger {
  z-index: 50;
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
}

.header-wrapper .nav-burger ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 15px;
}

.header-wrapper .nav-burger ul a {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  -webkit-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}

.header-wrapper .nav-burger ul a:hover {
  color: #7A66CC;
}

.header-wrapper .header-main-content {
  padding-top: 322px;
}

.header-wrapper .header-main-content h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
}

.header-wrapper .header-main-content .sound-name {
  padding: 10px 0 50px;
  font-size: 100px;
  color: transparent;
  font-weight: 700;
  line-height: 150px;
  -webkit-text-stroke: 1px white;
  -webkit-text-fill-color: transparent;
}

.main .main-content {
  margin: 0 auto;
  width: 1110px;
}

.main .newsline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  top: -150px;
  width: 100%;
}

.main .newsline__section {
  position: relative;
  width: 350px;
  height: 300px;
  border-radius: 20px 0px;
}

.main .newsline .section-1 {
  background-image: url("../images/section-1.png");
  background-size: cover;
  background-position: center;
}

.main .newsline .section-2 {
  background-image: url("../images/section-2.png");
  background-size: cover;
  background-position: center;
}

.main .newsline .section-3 {
  background-image: url("../images/section-3.png");
  background-size: cover;
  background-position: center;
}

.main .newsline .section-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 21px 20px;
  background: #7A66CC;
  opacity: 0.7;
  border-radius: 20px 0px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.main .about-us {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .about-us .about-us-left-part {
  width: 540px;
}

.main .about-us .about-us-left-part__title {
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 30px;
}

.main .about-us .about-us-left-part__body {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  opacity: 0.7;
}

.main .about-us .info {
  margin-top: 60px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 30px;
  grid-column-gap: 40px;
}

.main .about-us .info__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main .about-us .info__section span {
  font-weight: 600;
  font-size: 18px;
}

.main .about-us .info .point {
  float: left;
  margin-right: 20px;
  width: 30px;
  height: 30px;
  background: #7A66CC;
  border-radius: 10px 0px;
}

.main .about-us .about-us-right-part {
  width: 570px;
  position: relative;
  padding-left: 125px;
}

.main .about-us .about-us-right-part .post-1 {
  position: relative;
  z-index: 2;
  top: 60px;
  width: 350px;
  height: 400px;
  background-image: url(../images/post-1.png);
  background-size: cover;
  border-radius: 30px 0px;
}

.main .about-us .about-us-right-part .post-2 {
  position: absolute;
  z-index: 1;
  top: 126px;
  right: 0;
  width: 350px;
  height: 400px;
  background-image: url(../images/post-2.png);
  background-size: cover;
  border-radius: 30px 0px;
}

.main .news {
  position: relative;
  margin-top: 150px;
  padding: 85px 0;
}

.main .news .news-content {
  padding: 50px 510px 50px 80px;
  background: #1C1B21;
  border: 1px solid #FFFFFF;
  border-radius: 30px 0px;
}

.main .news .news-content .dots {
  position: absolute;
}

.main .news .news-content p {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

.main .news .news-content a {
  font-weight: 700;
  font-size: 18px;
  color: #7A66CC;
}

.main .news .news-art {
  position: absolute;
  top: 0;
  right: 80px;
}

.main .tracks {
  margin-top: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.main .tracks .tracks-art {
  margin-top: 35px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 510px;
  height: 510px;
  background: rgba(122, 102, 204, 0.3);
  border-radius: 50%;
}

.main .tracks .tracks-art::after {
  content: "";
  z-index: 2;
  position: absolute;
  width: 470px;
  height: 470px;
  background: rgba(122, 102, 204, 0.6);
  border-radius: 50%;
}

.main .tracks .tracks-art-img {
  z-index: 3;
}

.main .tracks .tracks-main {
  width: 540px;
}

.main .tracks .tracks-main .tracks-main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 60px;
}

.main .tracks .tracks-main .tracks-main-header .equalizer {
  position: relative;
  top: 6px;
}

.main .tracks .tracks-main .tracks-main-header h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
}

.main .tracks .player__range-bar {
  width: 320px;
}

.main .tracks .tracklist {
  padding: 50px 0;
}

.main .tracks .tracklist li {
  cursor: pointer;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px;
  font-weight: 400;
  font-size: 18px;
}

.main .tracks .tracklist li span {
  opacity: 0.5;
  font-weight: 700;
  font-size: 14px;
}

.main .tracks .tracklist li:last-child {
  margin-bottom: 0;
}

.main .tracks .tracklist li:hover {
  color: #7A66CC;
}

.main .tracks .traks-main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.main .tracks .traks-main-footer span {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}

.main .tracks .traks-main-footer .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.main .tracks .traks-main-footer .links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
}

.main .gallery {
  margin-top: 180px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 235px;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.main .gallery__block {
  cursor: pointer;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: transparent;
  border-radius: 30px 0px;
}

.main .gallery__block:hover .gallery-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #7A66CC;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(28, 27, 33, 0.8)), to(rgba(28, 27, 33, 0.8)));
  background: -o-linear-gradient(bottom, rgba(28, 27, 33, 0.8), rgba(28, 27, 33, 0.8));
  background: linear-gradient(0deg, rgba(28, 27, 33, 0.8), rgba(28, 27, 33, 0.8));
}

.main .gallery .block-1 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  background-image: url(../images/block-1.png);
  background-size: cover;
}

.main .gallery .block-2 {
  background-image: url(../images/block-2.png);
  background-size: cover;
}

.main .gallery .block-3 {
  background-image: url(../images/block-3.png);
  background-size: cover;
}

.main .gallery .block-4 {
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  background-image: url(../images/block-4.png);
  background-size: cover;
}

.main .gallery .block-5 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 2;
  grid-column-end: 4;
  background-image: url(../images/block-5.png);
  background-size: cover;
}

.main .events {
  position: relative;
  margin-top: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .events .events-wrapper {
  width: 1110px;
  height: 475px;
  overflow: hidden;
}

.main .events .right-arrow,
.main .events .left-arrow {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 40px;
  height: 60px;
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 10px 0px;
  position: absolute;
  top: 235px;
}

.main .events .right-arrow {
  right: -80px;
}

.main .events .left-arrow {
  left: -80px;
}

.main .events .right-arrow:hover,
.main .events .left-arrow:hover {
  background: #7A66CC;
}

.main .events .event-blocks {
  width: 1000%;
  position: relative;
  display: inline-block;
}

.main .events .events-block {
  margin-right: 30px;
  float: left;
  position: relative;
  height: 475px;
  background: #2F2B2B;
  border-radius: 30px 0px;
}

.main .events .events-block .event-img {
  width: 100%;
  height: 280px;
}

.main .events .events-block .events-block-text {
  padding: 30px 0 20px 35px;
}

.main .events .events-block .events-block-text h2 {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  opacity: 0.5;
}

.main .events .events-block .events-block-text p {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 45px;
}

.main .events .events-block .events-block-text span {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.5;
}

.main .events .events-block .tickets-button {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 180px;
  height: 60px;
  background: #7A66CC;
  border-radius: 30px 0px;
}

.main .events .events-block .tickets-button span {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.main .events .events-block .tickets-button:hover {
  opacity: 0.5;
}

.footer {
  margin: 180px auto 40px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer__title .logo-img {
  margin-right: 20px;
}

.footer .contacts {
  margin: 60px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 200px 300px;
  grid-template-columns: 200px 300px;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
  row-gap: 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
}

.footer .contacts-block-1,
.footer .contacts-block-3 {
  text-align: end;
  font-weight: 600;
}

.footer .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 30px;
  margin-bottom: 100px;
}

.footer .socials .socials-block {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #7A66CC;
  border: 8px solid #2C2C2C;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.footer .socials .socials-block:hover {
  -webkit-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

.footer .copyright {
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  opacity: 0.5;
}

@media (max-width: 1300px) {
  .header-wrapper {
    width: 900px;
  }

  .header-wrapper .top-navigation {
    padding-left: 0;
  }

  .header-wrapper .nav ul {
    gap: 20px;
  }

  .header-wrapper .header-main-content {
    padding-top: 200px;
  }

  .main .main-content {
    width: 900px;
  }

  .main .newsline__section {
    width: 270px;
  }

  .main .newsline .section-text {
    font-size: 14px;
    height: 120px;
  }

  .main .about-us .about-us-right-part {
    padding-left: 50px;
  }

  .main .about-us .about-us-right-part .post-1 {
    width: 300px;
    height: 350px;
  }

  .main .about-us .about-us-right-part .post-2 {
    width: 300px;
    height: 350px;
  }

  .main .news {
    padding: 0;
  }

  .main .news .news-content {
    padding: 50px 350px 50px 80px;
  }

  .main .news .news-art {
    height: 100%;
    right: 0;
  }

  .main .tracks .tracks-art {
    width: 410px;
    height: 410px;
  }

  .main .tracks .tracks-art::after {
    width: 370px;
    height: 370px;
  }

  .main .tracks .tracks-art-img {
    width: 336px;
    height: 336px;
  }

  .main .tracks .tracks-main {
    width: 440px;
  }

  .main .tracks .tracks-main .tracks-main-header h1 {
    font-size: 38px;
  }

  .main .tracks .player__play-button {
    border: 10px solid transparent;
    border-left: 13px solid #fff;
  }

  .main .tracks .player__timer {
    font-size: 14px;
  }

  .main .tracks .player__range-bar {
    width: 60%;
  }

  .main .tracks .tracklist li {
    font-size: 14px;
  }

  .main .tracks .tracklist li span {
    font-size: 14px;
  }

  .main .tracks .traks-main-footer span {
    font-size: 16px;
  }

  .main .events .events-wrapper {
    width: 900px;
  }
}

@media (max-width: 1100px) {
  .player__play-button {
    border: 10px solid transparent;
    border-left: 15px solid #fff;
  }

  .player__range-bar {
    width: 70%;
  }

  .player__timer {
    font-size: 14px;
  }

  .header-wrapper {
    width: 90%;
  }

  .header-wrapper .top-navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 20px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .header-wrapper .header-main-content h1 {
    font-size: 28px;
  }

  .header-wrapper .header-main-content .sound-name {
    font-size: 50px;
    line-height: 60px;
  }

  .main .main-content {
    width: 90%;
  }

  .main .newsline__section {
    width: 30%;
    height: 250px;
  }

  .main .newsline .section-text {
    font-size: 10px;
    height: 100px;
  }

  .main .about-us .about-us-left-part {
    width: 100%;
  }

  .main .about-us .about-us-right-part {
    display: none;
  }

  .main .news .news-content {
    padding: 50px 80px 50px 80px;
  }

  .main .news .news-art {
    opacity: 0.3;
  }

  .main .tracks .tracks-art {
    width: 350px;
    height: 350px;
  }

  .main .tracks .tracks-art::after {
    width: 310px;
    height: 310px;
  }

  .main .tracks .tracks-art-img {
    width: 276px;
    height: 276px;
  }

  .main .tracks .tracks-main {
    width: 380px;
  }

  .main .events .events-wrapper {
    width: 100%;
    margin: 0 5%;
  }

  .main .events .right-arrow,
  .main .events .left-arrow {
    top: 185px;
  }

  .main .events .right-arrow {
    right: -20px;
  }

  .main .events .left-arrow {
    left: -20px;
  }

  .main .events .events-block {
    height: 425px;
  }

  .main .events .events-block .event-img {
    height: 180px;
  }

  .main .events .events-block .events-block-text {
    padding: 10px 15px;
  }

  .main .events .events-block .events-block-text h2 {
    font-size: 16px;
  }

  .main .events .events-block .events-block-text p {
    font-size: 14px;
    margin-bottom: 25px;
  }

  .main .events .events-block .events-block-text span {
    font-size: 12px;
  }

  .main .events .events-block .tickets-button {
    width: 100%;
  }
}

@media (max-width: 650px) {
  .player__range-bar {
    width: 60%;
  }

  .player__timer {
    font-size: 10px;
  }

  .header-wrapper .top-navigation {
    gap: 10px;
  }

  .header-wrapper .top-navigation .line-wrapper {
    display: block;
  }

  .header-wrapper .logo-img {
    width: 30px;
    height: 30px;
  }

  .header-wrapper .logo-text {
    width: auto;
    height: 32px;
  }

  .header-wrapper .nav ul {
    display: none;
  }

  .header-wrapper .header-main-content {
    padding-top: 100px;
  }

  .main .newsline__section {
    height: 150px;
  }

  .main .newsline .section-text {
    height: 100%;
    font-size: 10px;
    padding: 20px 5px;
    line-height: 16px;
  }

  .main .about-us .about-us-left-part__title {
    margin-bottom: 30px;
  }

  .main .about-us .about-us-left-part__title h1 {
    font-size: 24px;
  }

  .main .about-us .about-us-left-part__body {
    font-size: 12px;
    line-height: 20px;
  }

  .main .about-us .info {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .main .about-us .info__section span {
    font-size: 14px;
  }

  .main .about-us .info .point {
    width: 20px;
    height: 20px;
  }

  .main .news {
    margin-top: 100px;
  }

  .main .news .news-content {
    padding: 20px 10px;
  }

  .main .news .news-content p {
    font-size: 14px;
    line-height: 25px;
  }

  .main .news .news-content a {
    font-size: 14px;
  }

  .main .news .news-art {
    display: none;
  }

  .main .tracks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 100px;
  }

  .main .tracks .tracks-art {
    width: 240px;
    height: 240px;
  }

  .main .tracks .tracks-art::after {
    width: 220px;
    height: 220px;
  }

  .main .tracks .tracks-art-img {
    width: 200px;
    height: 200px;
  }

  .main .tracks .tracks-main {
    width: 100%;
  }

  .main .tracks .tracks-main .tracks-main-header h1 {
    position: relative;
    top: 6px;
    font-size: 28px;
  }

  .main .tracks .player__timer {
    font-size: 12px;
  }

  .main .tracks .tracklist li {
    font-size: 12px;
  }

  .main .tracks .tracklist li span {
    font-size: 12px;
  }

  .main .tracks .traks-main-footer {
    gap: 20px;
  }

  .main .tracks .traks-main-footer span {
    font-size: 14px;
    line-height: 26px;
  }

  .main .tracks .traks-main-footer .links a {
    font-size: 10px;
  }

  .main .gallery {
    width: 100%;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    margin-top: 100px;
    grid-auto-rows: 180px;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
  }

  .main .gallery__block {
    font-size: 16px;
    line-height: 26px;
  }

  .main .gallery .block-1 {
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 3;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
  }

  .main .gallery .block-4 {
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-row-span: 2;
    grid-row-end: 5;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
  }

  .main .gallery .block-5 {
    -ms-grid-row: 5;
    grid-row-start: 5;
    -ms-grid-row-span: 1;
    grid-row-end: 6;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
  }

  .main .events {
    margin-top: 100px;
  }

  .main .events .events-wrapper {
    width: 90%;
    margin: 0 7%;
  }

  .main .events .right-arrow,
  .main .events .left-arrow {
    width: 30px;
    height: 50px;
  }

  .main .events .right-arrow {
    right: -10px;
  }

  .main .events .left-arrow {
    left: -10px;
  }

  .main .events .events-block .event-img {
    width: 250px;
    height: 160px;
  }

  .footer {
    margin: 100px auto 40px auto;
  }

  .footer .contacts {
    -ms-grid-columns: 40% 60%;
    grid-template-columns: 40% 60%;
    font-size: 14px;
    line-height: 22px;
    -webkit-column-gap: 15px;
    -moz-column-gap: 15px;
    column-gap: 15px;
  }

  .footer .contacts-block-1,
  .footer .contacts-block-3 {
    font-size: 8px;
    line-height: 22px;
  }

  .footer .contacts-block-2,
  .footer .contacts-block-4 {
    font-size: 8px;
    line-height: 22px;
  }

  .footer .socials {
    gap: 10px;
  }

  .footer .socials .socials-block {
    width: 40px;
    height: 40px;
    border: 4px solid #2C2C2C;
  }

  .footer .socials .socials-block svg {
    width: 15px;
    height: 15px;
  }

  .footer .copyright {
    font-size: 10px;
    line-height: 18px;
  }
}